

body * {
  font-size: 16px;
}

.contact a {
  font-size: 14px;
}

.pr-8 {
  padding-right: 8%;
}

.resume {
  width: 67vw;
  margin: 5rem auto 0;
  background: url('background.svg') no-repeat;
}

.resume-header {
  font-family: "Bitter", Arial, Helvetica, "Noto Sans Devanagari",
    "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif !important;
}

.header-border{
  /* width: 92%; */
  border-bottom: 4px solid #474eac;
}

.name {
  color: #474eac;
  font-size: 34px;
  font-weight: 700 !important;
}

section>h3{
  margin-bottom: 0;
}


.job-title,
.company-name,
.college-name {
  font-size: 19px;
  font-weight: 700 !important;
  color: #ff8490;
}

.contact .fab,
.contact .fas {
  color: #ff8490;
}

.experience-header,
.summary-header,
.technologies-header,
.education-header,
.achievements-header,
.research-header,
.languages-header,
.certifications-header {
  color: #474eac;
  padding-bottom: 8px;
  /* border-bottom: 5px solid #474eac; */
  font-size: 24px;
}

.work-profile {
  color: #474eac;
  font-size: 22px;
  font-family: Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin",
    "Noto Sans SC", "Noto Sans Hebrew", sans-serif !important;
}

.company-name,
.college-name {
  font-size: 18px;
}

i {
  margin-right: 6px;
}

.projects-experience-heading,
.degree {
  font-size: 21px;
  color: #474eac;
  font-weight: 500;
}

.project-title, .research-paper-name {
  color: #474eac;
  font-size: 18px;
  /* font-weight: 500;; */
}

.divider {
  height: 2px;
  width: 100%;
  border-bottom: 1px dashed lightgray;
  margin: 1rem 0;
}

.development span,
.project-management-tools span,
.development-tools span,
.languages-known span {
  padding: 0.5rem;
  /* margin: 3px 5px; */
  margin-right: 6px;
  font-weight: 600;
  font-size: 1rem;
}

.coding > p,
.project-management > p,
.tools > p {
  color: #ff8490;
  font-size: 21px;
  margin-bottom: 2px;
}

.inline-lead-text {
  color: #474eac;
  font-weight: 400;
  font-size: 18px;
}

.date, .location {
  font-size: 14px;
}

.reset-justification {
  text-align: initial;
}