.resume-header {
  font-family: "Bitter", Arial, Helvetica, "Noto Sans Devanagari",
    "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif !important;
}

.name {
  color: #474eac;
  font-size: 42px;
  font-weight: 700 !important;
}

.job-title,
.company-name,
.college-name {
  font-size: 21px;
  font-weight: 700 !important;
  color: #ff8490;
}

.contact .fab,
.contact .fas {
  color: #ff8490;
}

.experience-header,
.summary-header,
.technologies-header,
.education-header,
.achievements-header,
.research-header {
  color: #474eac;
  padding-bottom: 8px;
  border-bottom: 5px solid #474eac;
}

.work-profile {
  color: #474eac;
  font-size: 27px;
  font-family: Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin",
    "Noto Sans SC", "Noto Sans Hebrew", sans-serif !important;
}

.company-name,
.college-name {
  font-size: 18px;
}

i {
  margin-right: 6px;
}

.projects-experience-heading,
.degree,
.research-paper-name {
  font-size: 23px;
  color: #474eac;
  font-weight: 400px;
}

.project-title {
  color: #474eac;
  font-size: 20px;
}

.divider {
  height: 2px;
  width: 100%;
  border-bottom: 1px dashed lightgray;
  margin: 1rem 0;
}

.development span,
.project-management-tools span,
.development-tools span {
  padding: 0.5rem;
  margin: 3px 5px;
  font-weight: 600;
  font-size: 1.05rem;
}

.coding > p,
.project-management > p,
.tools > p {
  color: #ff8490;
  font-size: 23px;
  margin-bottom: 5px;
}

.inline-lead-text {
  color: #474eac;
  font-weight: 400;
  font-size: 18px;
}
